// login

.newpass {
  padding: 0 10px;
  margin-bottom: 30px;
  &__img {
    padding-top: 100px;
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
  &__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin-top: 50px;
    color: #2f2e2f;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__desc {
    color: #a9a9a9;
    font-size: 14px;
    margin-bottom: 20px;
  }
  &__pass {
    width: 100%;
    color: white;
    font-size: 16px;
    background: #2a88c9;
    padding: 10px 40px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  &__button {
    margin: 30px 0 20px 0;
    --background: #187bad;
    text-transform: initial;
    font-size: 22px;
    height: 55px;
    width: 100%;
  }
  &__change {
    color: #2a88c9;
    font-size: 15px;
    margin: 0 auto;
  }
  &__text {
    background: unset;
    text-align: center;
  }
}
